page-places {

  .places ion-icon {
    background-color: color($colors, secondary);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: color($colors, light);
    position: absolute;
    right: 0px;
    left: 35px;
    top: 15px;
  }

  ion-list {
    margin-bottom: 0px !important;
  }

}