page-map {
  ion-icon {
    color: #fff
  }

  ion-content {
    position: relative;

    ion-item ion-icon {
      color: color($colors, primary) !important;
    }
  }

  ion-card.point-info {
    position: absolute !important;
    bottom: 0px !important;
    left: 0px !important;
    width: 100% !important;
    margin: 0px !important;
    height: 50% !important;

    div.point-image {
      background-size: cover;
      text-align: center;
      height: 60% !important;
      width: 100%;
    }
  }
}